{
  "testUserEmail": "email_for_user",
  "testUserPassword": "your_password",
  "testTrainerEmail": "email_for_trainer",
  "testTrainerPassword": "your_password"
  "testAdminEmail": "email_for_admin"
  "testAdminPassword": "your_password"
}